<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="package com.study.springstudy.springmvc.chap05.mapper.ReactionMapper">
    <insert id="insertReaction">
        INSERT INTO tbl_reaction
        (account, board_no, reaction_type, reaction_date)
        VALUES (#{account}, #{boardNo}, #{reactionType, #{reactionDate})

    </insert>

    <delete id="deleteReaction">
        DELETE FROM tbl_reaction
        WHERE #{boardNo} AND account = #{account}
    </delete>

    <select id="findReaction" resultType="reaction">
        SELECT *
        FROM tbl_reaction
        WHERE account = #{account}
        AND board_no = #{bno}
    </select>

    <select id="countReactions" resultType="reaction">
        SELECT COUNT(*)
        FROM tbl_reaction
        WHERE board_no = #{boardNo} AND reaction_type = #{reactionType}
    </select>
</mapper>